* {

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3b82f6);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6366f1);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3b82f6);
}

button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

//* BOTÕES SOCIAIS */
.botoes-sociais {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-social {
  padding: 10px 15px;
  background: #111827;
  border-radius: 10px;
  color: #818cf8;
  font-weight: 500;
  transition: 0.3s;
  border: 1px solid #374151;
}

.btn-social:hover {
  background: #4f46e5;
  color: white;
  box-shadow: 0 0 10px #4f46e5;
}

/* Responsivo */
@media (max-width: 600px) {
  .header h1 {
    font-size: 28px;
  }
}
