* {
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

.menu-btn div {
  width: 30px;
  height: 4px;
  background: white;
  margin: 6px 0;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #180019;
  transition: 0.3s;
  padding-top: 60px;
}

#sidebar.active {
  left: 0;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  padding: 15px;
}

#sidebar ul li a {
  color: white;
  text-decoration: none;
}

/* FOTO */
.foto-perfil {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.header {
  text-align: center;
}

.card {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
}
